{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "import/no-named-as-default-member": 0,
    "import/no-named-as-default": 0,
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ]
  }
}